# -*- coding: utf-8 -*-
"""
Created on Tue Feb 27 10:45:12 2024

@author: Mateus
"""

# pasta a ignorar
.spyproject
__pycache__

#ficheiros a ignorar
datafile.py







Microsoft Windows [Version 10.0.19045.4046]
(c) Microsoft Corporation. Todos os direitos reservados.

C:\Users\Mateus>git version
git version 2.44.0.windows.1

C:\Users\Mateus>git config --global user.name "Mateus"

C:\Users\Mateus>git config --global user.email up202307834@up.pt

C:\Users\Mateus>git config --list
diff.astextplain.textconv=astextplain
filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
http.sslbackend=openssl
http.sslcainfo=C:/Program Files/Git/mingw64/etc/ssl/certs/ca-bundle.crt
core.autocrlf=true
core.fscache=true
core.symlinks=false
core.fsmonitor=true
core.editor=notepad
pull.rebase=false
credential.helper=manager
credential.https://dev.azure.com.usehttppath=true
init.defaultbranch=master
user.name=Mateus
user.email=up202307834@up.pt

C:\Users\Mateus>c:

C:\Users\Mateus>cd \RepositoriosGit\Exemplo_00>
The syntax of the command is incorrect.

C:\Users\Mateus>c:

C:\Users\Mateus>cd \RepositoriosGit\Exemplo_00>
The syntax of the command is incorrect.

C:\Users\Mateus>cd \RepositoriosGit\Exemplo_00

C:\RepositoriosGit\Exemplo_00>git init
Initialized empty Git repository in C:/RepositoriosGit/Exemplo_00/.git/

C:\RepositoriosGit\Exemplo_00>git status
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        .spyproject/
        app.py
        classes/
        data/
        static/
        templates/
        test_flask.py
        test_person.py

nothing added to commit but untracked files present (use "git add" to track)

C:\RepositoriosGit\Exemplo_00>git status
On branch master

No commits yet

Untracked files:
  (use "git add <file>..." to include in what will be committed)
        .gitignore
        app.py
        classes/
        data/
        static/
        templates/
        test_flask.py
        test_person.py

nothing added to commit but untracked files present (use "git add" to track)

C:\RepositoriosGit\Exemplo_00>git add
Nothing specified, nothing added.
hint: Maybe you wanted to say 'git add .'?
hint: Turn this message off by running
hint: "git config advice.addEmptyPathspec false"

C:\RepositoriosGit\Exemplo_00>git ad
git: 'ad' is not a git command. See 'git --help'.

The most similar commands are
        add
        am

C:\RepositoriosGit\Exemplo_00>git add .

C:\RepositoriosGit\Exemplo_00>





